/* =========================================
   1. RESET & NORMALISATION
   ========================================= */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

body {
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    color: #333;
    background-color: #fff;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* =========================================
   2. CODE
   ========================================= */

main {
    display: flex;
    width: 100%;
    height: auto;
}


/* =========================================
    LEFT SIDE
   ========================================= */

@font-face {
    font-family: 'Norse-Bold';
    src: url('../font/Norse-Bold.otf') format('opentype');
}

.left-side {
    width: 45vw;
    height: 100vh;
    background-image: url('../img/bkground.jpg');
    background-size: cover;
}

.dark-background {
    position: relative;
    top: 120px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 20%;
    padding: 20px 40px;
    font-size: 48px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.dark-background > img {
    width: auto;
    height: 100%;
}

.dark-background > p {
    color : white;
    font-family: 'Norse-Bold', sans-serif;
}

.footer {
    position: absolute;
    bottom: 20px;
    left: 160px;
    color: white;
    font-size: 12px;
}

.footer > a {
    text-decoration: underline;
}