/* =========================================
   1. RESET & NORMALISATION
   ========================================= */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

body {
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    color: #333;
    background-color: #fff;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* =========================================
   2. CODE
   ========================================= */

main {
    display: flex;
    width: 100%;
    height: auto;
}


/* =========================================
    LEFT SIDE
   ========================================= */

@font-face {
    font-family: 'Norse-Bold';
    src: url('../font/Norse-Bold.otf') format('opentype');
}

.left-side {
    width: 35vw;
    height: 100vh;
    background-image: url('../img/bkground.jpg');
    background-size: cover;
}

.dark-background {
    position: relative;
    top: 120px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 20%;
    padding: 20px 40px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.dark-background > img {
    width: auto;
    height: 100%;
}

.dark-background > p {
    font-size: 82px;
    font-weight: bold;
    color : white;
    letter-spacing: 3px;
    margin-left: 10px;
    font-family: 'Norse-Bold', sans-serif;
}

.footer {
    position: absolute;
    bottom: 20px;
    left: 160px;
    color: white;
    font-size: 12px;
}

.footer > a {
    text-decoration: underline;
}

/* =========================================
    RIGHT SIDE
   ========================================= */

.right-side {
    background-color: #f9f9f9;
}

.right-side > p {
    font-size: 18px;
    font-weight: 600;
    margin-left: 40px;
}

#first-p {
    margin-top: 80px;
    margin-bottom: 20px;
}

#second-p {
    margin-bottom: 30px;
}

#log-in {
    font-weight: 200;
}

#log-in > a {
    color: #596D48;
    font-weight: 750;
}

.create-account {
    background-color: #596D48;
    border: transparent 1px solid;
    border-radius: 0.3rem;
    padding: 10px 40px;

    color: white;
    font-weight: 600;
    margin-left: 40px;
    margin-top: 25px;
    margin-bottom: 35px;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

form {
    width: 65vw;
}

fieldset {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    border: none;
    padding-top: 50px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

legend {
    position: relative;
    top: 30px;
    left: 40px;
    font-size: 20px;
    font-weight: 600;
}

.line {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 70px;
    margin-bottom: 20px;
    margin-left: 40px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

input:focus {
    border: 1px rgb(17, 0, 255) solid;
}

input[required]:invalid {
    border: 1px red solid;
}

.form-input {
    border: solid #E5E7EB 1px;
    border-radius: 0.2rem;
    height: 1.6rem;
    width: 16rem;
}


label {
    display: block;
    font-weight: 500;
    font-size: 10px;
}